@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Great+Vibes&family=Prata&display=swap');
/* @import url('./assests/Sunny.jpeg') */
:root {
    --primary-dark: #5651e5;
    --primary-light: #709dff;
}

.icon {
    color: rgb(35, 0, 163);
}

.iconA {
    color: rgb(190, 34, 86);
}

@layer base {
    body {
        @apply font-[Prata]
    }
    li {
        @apply p-4  text-xl
    }
    h1 {
        @apply text-3xl md:text-4xl font-bold
    }
    h2 {
        @apply text-3xl font-bold
    }
    h3 {
        @apply text-xl font-bold
    }
    button {
        @apply p-3 border bg-gradient-to-r from-[var(--primary-dark)] to-[var(--primary-light)] text-white rounded-md
    }
}

.parallaxImage {
    position: relative;
    height: 100vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.content span.img-text {
    background-color: #333;
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;

}

h2 {
    letter-spacing: 6px;
    text-transform: uppercase;
    font: 1.3rem;
    text-align: center;
}

.booking-info {
    text-align: center;
    padding: 3rem 1rem;
    text-align: justify;
}
/* .review-form {
    display: flex;
} */





.weather {
    /* background-image: url('./assets/Sunny.jpg'); */
    /* background-color: #5651e5; */
    /* background-size: cover; */
    /* background-position: bottom; */
    /* transition: 0.4 ease-out; */
    /* min-height: 90vh; */
    padding: 25px;
    
}
